/* ------ ÍCONES ------- */
#responsividade {
  display: flex;
  justify-content: space-around;
}

#teste {
  height: 14.5rem;
}

.bi-caret-down-fill {
  display: flex;
  justify-content: flex-end;
}

/* ------ ÍCONES END ------- */


/* ---------LISTAS NÃO ORDENADAS ------------- */

[data-theme="dark"] .list02 li {
  color: white;
}

.list02 #CorVerde {
  color: #44833D;
}

.list02 li {
  font-family: var(--FonteRaleway);
  font-size: 1.2rem;
  margin-top: 5px;
  list-style: none;
  color: black;
}

.list2-1 {
  color: black;
  font-family: var(--FonteRaleway);
  font-size: 1.2rem;
  margin-top: 5px;
  list-style: none;
}

.CorVerde {
  color: #44833D;
}

/* ---------LISTAS NÃO ORDENADAS END ------------- */


/* --------- ALINHAMENTO ------------- */
#align04 {
  margin-top: -20px;
}

p.paragrafo {
  margin-top: 5.8em;
}

.tabela {
  margin-bottom: 3rem;
}

/* --------- ALINHAMENTO END ------------- */


/* ---------- ALERTS -------------------*/
.alert {
  border: none;
  font-family: "Raleway";
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

#text-alert-verde{
margin-top: 10px;
}

.alert-success {
  color: #155724;
  background-color: #b6f1c4;
  border-color: #65db80;
}

.alert-success .fa-bullseye {
  color: #155724;
}

[data-theme="dark"] .alert-success p {
  color: #155724;
}

.alert-success .list02 {
  color: #155724;
}

.alert-danger {
  background-color: #f7616e;
  color: #fff;
  box-shadow: 1px 2px 9px rgba(245, 82, 96, 0.3);
}

.alert-danger .fa-bullseye {
  color: #fff;
}

.alert-primary {
  background-color: #029eff;
  color: #fff;
  box-shadow: 1px 2px 9px rgba(2, 158, 255, 0.3);
}

.alert-primary .fa-bullseye {
  color: #fff;
}

.alert-info {
  background-color: #56b6f7;
  color: #fff;
  box-shadow: 1px 2px 9px rgba(86, 182, 247, 0.3);
}

[data-theme="dark"] .alert-warning p {
  color: rgb(10, 10, 10);
}

.alert-warning {
  background-color: #fdd347;
  color: rgb(10, 10, 10);
  box-shadow: 1px 2px 9px rgba(253, 211, 71, 0.3);
}

.alert-dark {
  color: white;
  background-color: #141619;
}

[data-theme="dark"] .alert-secondary p {
  color: #383d41;
}

.alert-secondary {
  background-color: #ebeef3;
  color: #383d41;
  box-shadow: 1px 2px 9px rgba(235, 238, 243, 0.3);
}

.card .card-body {
  padding: 1.4rem 1.7rem;
}

/* .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  height: 35rem;
} */
/*-----------------ALERTS END----------------------------*/


/* ------------------- CAIXA INDICANDO ONDE DEVE SER CLICADO------------------ */
.badge-warning {
  color: #fff !important;
  background-color: rgb(240, 169, 27) !important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* ------------------- CAIXA INDICANDO ONDE DEVE SER CLICADO END------------------ */


/* ------------------CONFIGURÇÃO DO ACCORDION -------------------------------------*/

.accordion-button {
  background-color: #d1e7dd;
  border-bottom: 1px solid #008442;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #008442;
  outline: 0;
  box-shadow: 0 0 0 0.05rem #008442;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #d1e7dd;
  box-shadow: inset 0 -1px 0 #008442;
}

[data-theme="dark"] .accordion-button:not(.collapsed) {
  color: black;
  background-color: #d1e7dd;
  box-shadow: inset 0 -1px 0 #008442;
}

[data-theme="dark"] .accordion-item {
  background-color: #29292B;
}

[data-theme="dark"] .accordion-body p {
  color: white;
}

/*----------------------- FIM DA CONFIGURÇÃO DO ACCORDION--------------------- */


/* ------------------CONFIGURÇÃO DA TABELA (TÓPICO 2)--------------------------- */


/* [data-theme="dark"] .card-body {
  background-color: #29292B;
} */

/*------------------- FIM DA CONFIGURÇÃO DA TABELA (TÓPICO 2) ------------------ */

.txt-caixasecundaria {
  font-family: "Raleway";
  font-size: 1.2rem;
}